<h3 style="text-align:center">Cost Filter</h3>
<div class="radio">
    <div>
        <label>
            <input type="radio" value="0-300"
            [(ngModel)] = "costType"
            (change)="onCostSelect()"/>
            0-300
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="301-600"
            [(ngModel)] = "costType"
            (change)="onCostSelect()"/>
            301-600
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="601-900"
            [(ngModel)] = "costType"
            (change)="onCostSelect()"/>
            601-900
        </label>
    </div>
    <div>
        <label>
            <input type="radio" value="901-5000"
            [(ngModel)] = "costType"
            (change)="onCostSelect()"/>
            901-5000
        </label>
    </div>
</div>



